// COLORS
$color-primary: #a855f7;
$color-primary-light: #c084fc;
$color-success: #10b981;
$color-danger: #ef4444;
$color-bg-dark: #0f172a;
$color-bg-deep: #0a0e1b; // Нова змінна для темного фону
$color-bg-light: #f8fafc;
$color-white: #ffffff;
$color-gray: #94a3b8;
$color-gray-dark: #475569;
$color-border: #e5e7eb;
$color-table-border: #f1f5f9;

// FONTS
$font-main: "Inter", "Segoe UI", sans-serif;